@font-face {
   font-family: 'Pacifico-Regular';
   font-display: swap;
   src: url('file:///C:/Users/lucaf/AppData/Local/Mobirise.com/Mobirise/projects/project-2024-07-12_161302/fonts/Pacifico-Regular/font.ttf');
}
